@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina|Open+Sans:400,700');

// fonts
$base-font: 'Open Sans', sans-serif;
$accent-font: 'Baloo Bhaina', cursive;

// base colors
$base-black: #333333;
$base-white: #F3F3F3;
$base-gray: #808080;

// main colors
$color1: #279AE1; 
$color2: #C2E600;
$color3: #FFD700;
$color4: #D200E1;
